/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*以下是用全網設定*/
body {
    font-family: Arial, "Noto Sana TC", Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    font-weight: 500;
    line-height: 150%;
    }
header {
    max-width: 100%;
    text-align: center;
    padding: 24px 0;
}
header a {
    color: black;
    font-size: 28px;
    font-weight: 700;
    text-decoration: none;
    margin: 0px 20px;
}



/*以下是blog_detail設定(部分與blog共用)*/
.banner_2 {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #6c757d;
    border-bottom: 1px solid #6c757d;
}
.banner_2 div{
    width:50%;
}
.banner_2 img {
    width: 100%;
    vertical-align: bottom;
}
.title {
    max-width: 100%;
    margin-left: 24px;  
}
.time {
    margin-bottom: 15px;
}
.title h3 {
    display: inline;
    font-size: 24px;
    color: #0027d5;
    line-height: 100%;
}
.title span {
    font-size: 16px;
    color: white;
    font-weight: 700;
    line-height: 100%;
    vertical-align: 20%;
    background: #0027d5;
    border-radius: 40px;
    padding: 6px 12px;
    margin: 0 10px;
}
.title h2 {                 
    font-size: 28px;
    font-weight: 700;
    margin-top: 20px;
    line-height: 150%;
}
@media (max-width: 992px) {
    .banner_2 {
        flex-direction: column;
    }
    .banner_2 div{
        width: 100%;
        margin: 0 auto;
    }
    .banner_2 img {
        width: 100%;
    }
    .title {
        max-width: 50%;
        margin: 0 auto;
        padding: 80px 0 ;
    }
}
@media (max-width: 762px) {
    .title {
        max-width: 60%;
        margin: 0 auto;
        padding: 80px 0 ;
    }
}
.content {
    max-width: 35%;
    margin: 0 auto;
    padding: 70px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
} 
.subpage {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.subpage h2 {
    font-size: 28px;
    color: #0027d5;
    font-weight: 700;
    line-height: 150%;
}
.subpage ul {
    list-style-type: decimal;
    list-style-position: outside;
}
.subpage ol {
    list-style-type: disc;
    list-style-position: outside;
}
.subpage li {
    margin-left: 2rem;
}
.subpage a{
    color:#0027d5;
}
.box h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}
.box p {
    margin-bottom: 5px;
}
.box a{
    text-decoration: none;
}
.buttom {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.buttom a {
    color: #4b4b4b;
    text-decoration: none;
    border: 1px solid #4b4b4b;
    border-radius: 40px;
    padding: 8px 16px;
}
.buttom a:hover {
    color: white;
    text-decoration: none;
    background: #4b4b4b;
}
.gray {
    font-weight: 700;
    background: #ededed;
    border-radius: 24px;
    padding: 24px;
}
@media (max-width: 992px) {
    .content {
        max-width: 60%;
    }
}
@media (max-width: 762px) {
    .content {
        max-width: 90%;
    }
}
.contact {
    max-width: 100%;
    border-top: 1px solid #6c757d;
    padding: 80px 5%;
    display: flex;
    justify-content: center;
}
.contact a {
    width: 50%;
    font-size: 32px;
    color: black;
    text-decoration: none;
    margin-right: 2%;
}
.media {
    width: 20%;
}
@media (max-width: 992px) {
    .contact{
        max-width: 100%;
        padding: 20px 5%;
        flex-direction: column;
        gap: 20px;
    }
    .contact a {
        width: 90%;
        text-align: center;
        margin: 0 auto;
    }
    .media {
        flex-direction: row;
        width: 60%;
        margin: 0 auto;
        text-align: center;
        
    }
    }
@media (max-width: 762px) {
    .contact {
        display: none;
    }
}
footer{
    text-align: center;
    padding: 24px 0;
}
@media (max-width: 992px) {
    footer {
        border-top: 1px solid #6c757d;
    }   
}

/*以下是blog設定*/

.banner {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner div{
    width:50%;
}
.banner img {
    width: 100%;
    vertical-align: bottom;
}
.blog_title {
    max-width: 100%;
    position: relative;
}
.blog_title img{
    width: 100%;
    vertical-align: bottom;
}
.title_text {
    position: absolute;
    left: 8%;
    bottom: 35%;
}
.title_text h1 {
    font-size: 120px;
    color: #0027d5;
    font-weight: 900;
    line-height: 150%;
}
.title_text h2 {
    font-size: 28px;
    color: #0027d5;
    font-weight: 700;
    line-height: 150%;
}

.title_context {
    width: 65%;
    line-height: 150%;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-top: 10px;
}
.reading_buttom {
    margin-top: 25px;
}
.reading_buttom a{
    color: #4b4b4b;
    text-decoration: none;
    border: 1px solid #4b4b4b;
    border-radius: 40px;
    padding: 8px 16px;
}
.reading_buttom a:hover {
    color: white;
    background: #4b4b4b;
    text-decoration: none;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 0 auto ;
    padding: 5% 20%;
}
.search {
    position: relative;
    width: 24%;
    float: left;
    margin-bottom: 3%;
}
.search_bar {
    width: 100%;
    font-size: 16px;
    padding: 16px 48px 16px 49px ;
    border: 1px solid #4b4b4b ;
    border-radius: 40px;
}
.search_btn {
    font-size: 24px;
    color: #4b4b4b;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 24%;
    left: 4%;
}
.subpage_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.subpage_2 {
    display: flex;
    flex-wrap: wrap;
    width: 32%;
    line-height: 150%;
    margin: 0 0 9% 0;
}
.subpage_2 img {
    width: 100%;
    margin-bottom: 10px;
}
.date {
    width: 100%;
}
.hashtag {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.hashtag a {
    font-size: 24px;
    color: #0027d5;
    font-weight: 500;
    text-decoration: none;
    line-height: 150%;
}
.subpage_2 h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 150%;
}
.subpage_2 p {
    font-size: 16px;
    font-weight: 500;
    color: #4b4b4b;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin: 10px 0 20px;
}
.reading_buttom_2 a {
    color: #4b4b4b;
    text-decoration: none;
    border: 1px solid #4b4b4b;
    border-radius: 40px;
    padding: 8px 16px;
}
.reading_buttom_2 a:hover {
    color: white;
    background: #4b4b4b;
    text-decoration: none;
}